<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Formulario</title>
</head>
<body>
    <div class="container">
        <form action="">
        <fieldset>
            <legend>
                Formulario de acceso
            </legend>
        </fieldset>
        <fieldset>
            
                Correo electronico
                <input v-model="correo" placeholder="Escribe tu correo" name="">

            
        </fieldset>
        <fieldset>
           Contraseña 
            <input v-model="contraseña" placeholder="Escribe tu contraseña" name="">

        </fieldset>
        <button>
            Acceder
        </button>
        </form>
         <div>
            <li>
                <input type="checkbox">
                <label for="">Administrador</label>

            </li>

            

         </div>
         <div>
            <li>

                <input type="checkbox">
                <label for="">Ingenierio</label>
            </li>

            

         </div>
         <div>
            <li>

                <input type="checkbox">
                <label for="">Secretario</label>
            </li>

            

         </div>
         <div>
            <li>

                <input type="checkbox">
                <label for="">Albañil</label>
            </li>

            

         </div>
         <button>
            Olvide mi contraseña
         </button>
      
      <h1>

      Hola mundo
      </h1>
    </div>
</body>
</html>

